HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
application.yml
application-sonarqube.properties

fir-d1e55-firebase-adminsdk-tm2jt-6ef434d608.json
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
### VS Code ###
.vscode/
.vs/
### Unity ###
/unity/user.keystore
/unity/NextPlace/Assets/google-services.json
/unity/NextPlace/Assets/google-services.json.meta
/unity/NextPlace/Assets/Resources/Mapbox
/unity/NextPlace/Assets/StreamingAssets/google-services-desktop.json
/unity/NextPlace/Assets/StreamingAssets/google-services-desktop.json.meta
/unity/NextPlace/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-8_5_0.so
/unity/NextPlace/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-8_5_0.so.meta
/unity/NextPlace/Assets/02. Scripts/Data/URLManager.cs
/unity/NextPlace/Assets/02. Scripts/Data/URLManager.cs.meta
/unity/NextPlace/Library/**/libil2cpp.dbg.so
/unity/NextPlace/Library/**/libil2cpp.sym.so
/unity/NextPlace/Library/PlayerDataCache/Android/Data/data.unity3d